* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("k.webp");
    background-position: center;
    background-size: cover;
}


.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 30px;
    font-family: cursive;
    padding-left: 20px;
    padding-top: 10px;
}


.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover {
    color: #ff7200;
}


.search {
    width: 330px;
    float: right;
    margin-left: 270px;
}

.srch {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 13px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: #ff7200;
}


.content {
    width: 1200px;
    margin: auto;
    color: #fff;
    position: relative;
}

.content h1 {
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    font-family: "Times New Roman";
}

.content span {
    color: #ff7200;
    font-size: 60px;
}

.par {
    padding-left: 20px;
    line-height: 30px;
}


.cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
}

.cn a {
    text-decoration: none;
    color: #000;
}

.cn:hover {
    background: #fff;
}


.form {
    width: 300px;
    height: 380px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: -20px;
    right: 80px;
    border-radius: 10px;
    padding: 25px;
    z-index: 10;
}

.form h2 {
    background: #fff;
    color: #ff7200;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
}


.form input {
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff7200;
    color: #fff;
    margin-top: 30px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    cursor: text;
}

::placeholder {
    color: #fff;
}


.btnn {
    width: 100%;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}


.link, .liw {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #ff7200;
    text-decoration: none;
}


.icons {
    text-align: center;
}

.icons ion-icon {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.icons ion-icon:hover {
    color: #ff7200;
}
